<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/create">

    <input placeholder="Название карты" name="title_card">
    <input placeholder="Описание карты" name="description">
    
    {{range .}}

    <select name="class_card">
    
    	
		{{range .Class_card}}</p>
        <option>{{.}}</option>
        
        {{end}}


    </select>

    <select name="type">
        		{{range .Type_card}}</p>
        <option>{{.}}</option>
        
        {{end}}

    </select>

    </select>
    <select name="rare">

                		{{range .Rare_card}}</p>
        <option>{{.}}</option>
        
        {{end}}

    </select>


    </select>
    <select name="attack">

        
                		{{range .Attack_card}}</p>
        <option>{{.}}</option>
        
        {{end}}
    </select>

    </select>
    <select name="mana">

                		{{range .Mana_card}}</p>
        <option>{{.}}</option>
        
        {{end}}

    </select>
    </select>
    <select name="life">
        
                		{{range .Life_card}}</p>
        <option>{{.}}</option>
        
        {{end}}

    </select>
    <select name="keyword">
        <option>123</option>
    </select>
    <input type="submit" value="Добавить карту">
    {{end}}
    
     <select> // for loop in html template example
   {{range $key, $value := .}}
     <option value="{{ $value }}">{{ $key }}</option>
   {{end}}


 </select>

</form>


</body>
</html>
