<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
<form action="/create">
	
    <label>Название карты<input placeholder="Название карты" name="title_card"></label>

    <label>Краткое описание карты<input placeholder="Описание карты" name="description"></label>
    
    {{range .}}
	<label>Класс карты
    <select name="class_card">
    
    	
		{{range .Class_card}}</p>
        <option>{{.}}</option>
        
        {{end}}


    </select>
    </label>

    <select name="type">
        		{{range .Type_card}}</p>
        <option>{{.}}</option>
        
        {{end}}

    </select>

    </select>
    <select name="rare">

                		{{range .Rare_card}}</p>
        <option>{{.}}</option>
        
        {{end}}

    </select>


    </select>
    <select name="attack">

        
                		{{range .Attack_card}}</p>
        <option>{{.}}</option>
        
        {{end}}
    </select>

    </select>
    <select name="mana">

                		{{range .Mana_card}}</p>
        <option>{{.}}</option>
        
        {{end}}

    </select>
    </select>
    <select name="life">
        
                		{{range .Life_card}}</p>
        <option>{{.}}</option>
        
        {{end}}

    </select>
    <select name="keyword">
        <option>123</option>
    </select>
    <input type="submit" value="Добавить карту">
    {{end}}
    


</form>


</body>
</html>
